language: ruby
# rvm: 
#  - 2.6.6
env: 
  global:
    secure: I5bDHKXj9bXuQ/I9bfXEF5VOPeyO5RlSEBpc/R7/gAW4/HU4DfpPpwtVVldGFSdpT2a1R1TtG5e9rncl1KjpaTA0giekTimAwMKWj22Tv0V+P6HKIwQa4c/IotbwnqdlGTdrUsjvojCogqGOhElFBRF1c7uCJ4HyjY49vHnokakmF1ZMA3GB2IUoM0PdGClQP2oDdxVrzhvIE4xCJmLnWu6wviOTrAGsHh4iQIxcw6IvKpObQTtMEnmD/VhFAhdpe6lclRPoTMMGXfR56lNjuywFINn4+AFHiP4YE9ZaRsFvlbGjzugBu+Tv/i33EcvuRvsXrhtLQ5B5033zA3m2lIXYwxBCuo7Q7WATlHeXtIiSfnQ2LUYl31kayhKz1gmqZd6/zKXxWCnGncVFD+JAJxETADIIcd1YYDUAhQCPxQ8tf3b6DBkxBhGYH7y0oH48Lmn6LT5K373x9zWPp280I4fyENE/Y1HbZFgDJKnRgR3mBc/PFFDq+WBy8Rlu2sk6wfXr0EhrN0I2+WcASBG2h3H062ZOP2/1MIY+JVTqVvNuoK6Lca5FsLyFtpf9MQzMKrbnjGi2hgSm6g24AcGT+q1ihvvpR2wVDv9p60f8+raxyKDssJ5K0gU6lv9Z/s+/w22QpPF5NQY02P5Du850RImdDspo7zy7Y+RSFXe+q+0=
  - TEST_FLAG=TRUE
  - TEST_FLAG=FALSE
# separate test scenarios to separate yml files please and use build config import: https://docs.travis-ci.com/user/build-config-imports + https://blog.travis-ci.com/2019-11-11-build-config-imports
jobs:
  include:
  - name: Bionic Ruby 2.6.6 at jobs.include[1].rvm level
    os: linux
    dist: bionic
    language: ruby
    rvm: 2.6.6
    script:
      - ruby ./source/ruby_hello.rb
  - name: Bionic Ruby 2.7.5 at jobs.include[1].rvm level
    os: linux
    dist: bionic
    language: ruby
    rvm: 2.7.5
    script:
      - ruby ./source/ruby_hello.rb
  # testing basic conditionals
  - name: Bionic Ruby 2.6.6 TRUE
    os: linux
    dist: bionic
    language: ruby
    #rvm: 2.6.6
    if: (env(TEST_FLAG) = TRUE)
    script:
      - ruby ./source/ruby_hello.rb
      - echo Test flag is ${TEST_FLAG} 
  - name: Bionic Ruby 2.6.6 FALSE
    os: linux
    dist: bionic
    language: ruby
    #rvm: 2.6.6
    if: (env(TEST_FLAG) = FALSE)
    script:
      - ruby ./source/ruby_hello.rb
      - echo Test flag is ${TEST_FLAG} 
    # add to conditionals testing running build from specific branch (+add branch), allow failure (https://docs.travis-ci.com/user/conditional-builds-stages-jobs/) 
    # building branches - https://docs.travis-ci.com/user/customizing-the-build/#building-specific-branches
    # please add cases for build-stages https://docs.travis-ci.com/user/build-stages/
    # - sequence of stages
    # - named stages
    # ==
    # using encrypted variables: https://docs.travis-ci.com/user/encryption-keys/ 
    # ==
    # create a job that does not puts out enything to cli for first 10 minutes - we expect autocancel on that
    # ==
    # create a job that runs for more than 50 minutes (an output to cli must be done with intervals < 10 mins) - we expect autocancel at around 50 minutes mark here
    # ==
    # commit messages: https://docs.travis-ci.com/user/customizing-the-build/#skipping-a-build 
    # example: do something if commit message has specific value 'docker'
    # if: (branch = master and type = push ) OR commit_message =~ /ship:docker/ OR env(SHIP_DOCKER) = true
