os: linux
dist: focal

language: ruby
rvm: 2.7.1

branches:
  only:
  - main
  - integration-regresion-tests
  - secure-test

env:
  global:
  - secure: "S/2ZdX31Q+9hsFJhdgyMVBH8m0xD+rkEjep+7O60HMBNxBJT/V7Yzag034P/NhD8qv0EcDuICRuhbJ9kB57MwlH2P7nqMqzuBLmzHQNDUAIp9ccahzb6kNtXvpSWGzCu++7mXI3p/yVAouBEZDVFfa60U8dOz2E03jG883cfcy54xC1/Vh96DJifql6otC1CCxba3W3en0yucji8FyNgadFnVPsxmemaR+g/WF0k97SnUWBai3+rk6ozuSH0eUSmooiU4vRVS3pRZh1rWUvCLoKs8DKgor0DcHMd9BAEaNM6Ktrs0GmHNTbKDA0GSfl97B+e4gqznGsY2whTw709sWUIOlq89pOOBWXN2od4wrjii6ObN9wWwvVORHOZfY1i2ARcrQ5gUzaGx/MqSLwOr99FHwlaSn5G5XCEXylm+bjkx02VOXfzmGCuX3uoMg+9vwOCU3FmyENtzSXcgYoRsFI7D/EqRrvfN20KF4oxRfCfd9Ke65P7m7xNFY0LY39t90BHCl3DoxGUbNf8XtVIn5IhpNRGlaZN2O+pfQXaLh5mWxh3hG+x7nYmHLiPsBppTyH54Uc6kFsbNIXnayfPpvbE85fl4aSG5/XhgRLLCEeMFAlr6RlwfvCCej2+FN5cw18wgnbrQpHpQIpSLG53ghFpXdHXTWvfGmGec3gYl1I="

jobs:
  include:
    - name: '000000000'

      script:
        - echo $QWERTY
        - echo "secure test"
